= content_for :page_title
  '&nbsp; :: Vendors > #{@vendor.name} > Edit

- content_for :header_content do
  h2.page-header
    = class_icon "vendor", icon_options: "medium"
    span.text
      = link_to vendors_path, class: "breadcrumb primary" do
        span.link-text
          '  Vendors
      '
      = link_to vendor_path(@vendor), class: "breadcrumb" do
        span.link-text
          = @vendor.name
      '
      span.breadcrumb Edit

== render 'form'
