h2.page-header
  i.material-icons.medium list
  | Invoices
  .pull-right.right-align
    = link_to '< Vendor', vendor_path(@vendor, anchor: "invoices"), class: "waves-effect waves-teal btn-flat"

.row
  .col.s12
    = render partial: 'list', locals: { invoices: @invoices }

    
.fixed-action-btn
  = link_to new_vendor_invoice_path(@vendor), class: "btn-floating btn-large green lighten-1" do
    i class="material-icons large" add
