= render partial: 'shared/account_elements/edit',
         locals: { \
           class_name: 'Resource',
           item: @account_resource,
           element_name: 'account_resource',
           form_path: 'account_resources/form'}
