= render partial: 'shared/account_elements/new',
         locals: { \
            class_name: 'Resource',
            item: @account_resource,
            form_path: 'account_resources/form',
            element_name: 'account_resource'}
