// AP Aging Reports
//------------------------------------------------------------------------------
#ap_aging_reports {
  input:focus,
  input {
    border-bottom: none !important;
    box-shadow: none !important;
    margin: 0;
  }
}
