= render partial: 'shared/account_elements/new',
         locals: { \
           class_name: 'Object',
           item: @account_object,
           element_name: 'account_object',
           form_path: 'account_objects/form'}
